.converter {
  --header: 64px;
  background-color: paleturquoise;
  column-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: var(--header) 1fr;
  height: calc(100vh - 1rem * 2);
  padding: 1rem;
}

h2 {
  margin: 0;
}
